.node-content {
  background-color: gray;
}
foreignObject.dragging-item-over {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.drag-btn.root {
  pointer-events: none;
  display: none;
}
.dragging-node {
  position: relative;
  z-index: 10000;
}