# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Server
mai-mind-map-se/**/*.js
mai-mind-map-se/config*.json
mai-mind-map-se/pnpm-lock.yaml
