.presentation-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    cursor: default;    

    background-color: #1F2329;
}

.presentation-control-bar {
    position: fixed;
    width: 100%;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}